@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ASPNET Core + AngularJS 1.6 with TypeScript Boilerplate</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <environment names="Development">
        <link rel="stylesheet" type="text/css" href="http://localhost:7000/dist/css/styles.css" />
    </environment>
    <environment names="Production">
        <link rel="stylesheet" type="text/css" href="./css/styles.css" />
    </environment>
</head>
<body ng-app="App">
    <ui-view></ui-view>
    <environment names="Development">
        <script src="http://localhost:7000/dist/js/bundle.js"></script>
    </environment>
    <environment names="Production">
        <script src="./js/bundle.js"></script>
    </environment>
</body>
</html>
