<form name="login" ng-submit="rc.login(loginRequest)" ng-init="loginRequest = {}">
    <input type="email" ng-model="loginRequest.email" placeholder="Email" />
    <input type="password" ng-model="loginRequest.password" placeholder="Password" />
    <button class="ce-btn primary" type="submit">Login</button>
</form>