@import "./mixins.scss";

.ce-btn,
.ce-btn:active,
.ce-btn:focus {
    border-style: solid;
    border-width: 1px;
    height: 35px;
    width: 100%;
    outline: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.ce-btn.primary,
.ce-btn.primary:hover,
.ce-btn.primary:focus {
    color: #fff;
}

.ce-btn.primary {
    background-color: #8E72B2;
    border-color: #7F669F;
}

.ce-btn.primary:hover {
    background-color: #785C9C;
    border-color: #3F2E56;
}

.ce-btn.primary:focus {
    background-color: #624B7F;
    border-color: #21182D;
}