@import "./mixins.scss";

.history {
    @include whiteBackground;
    @include boxShadowGreen;
    min-width: 100px;
    min-height: 50vw;
    max-height: 5vw;
    overflow-y: scroll;
}

.history ul {
    @include flexUlistColumn;
    margin-top: 0px;
    margin-bottom: 0px;
    border-top: 1px lightgray solid;
}

.history ul li {
    margin-top: 5px;
    padding-bottom: 6px;
    border-bottom: 1px lightgray solid;
    width: 100%;
    text-align: center;
}